<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products page</title>
    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse; padding: 5px;}
    </style>
</head>
<body>

<h1>Products</h1>
<h2>View Products</h2>

<table>
    <tr>
        <th>Product NAME</th>
        <th>Product PRICE</th>
    </tr>
    <!-- We use the th:each feature from Thymeleaf to iterate on the collection
         and display a table row for each product in the list-->
    <tr th:each="p: ${products}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
    </tr>
</table>

<h2>Add a New Product</h2>
<form action="/products" method="post">
    Name: <input type="text" name="name"><br>
    Price: <input type="number" step="any" name="price"><br>
    <button type="submit">Add product</button>
</form>

</body>
</html>